#left{
    text-align: left;
    color: red;

}

#upper{
    text-align: center;
}

#right{
    text-align: right;
}

#out{
    text-align: right;
}

h1{
    color: red;
}

#content container{
    padding-top: 30px;
}

.fff{
    text-align: center;
}
