.left{
    text-align: left;
    margin-top: 5px;
}

.link{
    text-align: center ;
}

.right{
    text-align: right;
    margin-top: -150px;
}
.image{
    background: url('/static/images/nebo.jpeg');
    width: auto;
    height: 1200px;
}

.jumbotron{

    border-radius: 30%;
    color: blue;
}

#wel{
    background: white;
    border-style: solid;
    border-color: blue;
    border-radius: 20%;
}

#log{
    margin-bottom: 100px;
}

#top{
    text-align: center;
    color: blue;
    padding-top: 50px;
    font-family: fantasy;
}
