{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">




    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">



    {# MEDIUM STYLE EDITOR#}
    <script src="//cdn.jsdelivr.net/medium-editor/latest/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/medium-editor/latest/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">


    {# Custom CSS#}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">

<!--    fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
</head>

<body>


    <div class="image">



        <div class="container">

            <h1 id="top">My Blog!</h1>



            <div class "left">
                <a id="wel">Welcome: {{ user.username }}</a>
                <br>
                <br>
                <a class="btn btn-primary" href="{% url 'post_list' %}">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>My Blog
                </a>
                <div class="link">
                    <a href="https://www.facebook.com/milanaljetic" target="_blank"><img src="/static/images/facebook-icon.png" width='20' height='20' alt=""></a>
                    <a href="https://www.linkedin.com/in/milan-aljeti%C4%87-3461191a2/" target="_blank"><img src="/static/images/LinkedIn-Icon-Square.png" width='20' height='20' alt=""></a>
                </div>

                <br>
                <br>
                <a class="btn btn-primary" href="{% url 'about' %}">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>About us
                </a>

            </div>



            <div class="right">
                {% if user.is_authenticated %}


                    <a class="btn btn-primary" href="{% url 'post_new' %}">New post
                    </a>
                    <br>
                    <br>
                    <a class="btn btn-primary" href="{% url 'post_draft_list' %}">Draft list
                    </a>
                    <br>
                    <br>
                    <a id="log" class="btn btn-primary" href="{% url 'logout' %}">Log Out
                    </a>



                {% else %}
                    <a href="{% url 'login' %}" aria-label="Login">
                        <span class="fa fa-user" aria-hidden="true"></span>Login</a>
                {% endif %}
            </div>
        </div>
    </div>


<!--content block-->
        <div class="container">
            <div class="allcontent">
                <div class="row">
                    <div class="col-md-8">
                        <div class="blog_post">
                            {% block content %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
</html>
